<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contact/<%= contact[:id] %>"><%= contact[:name] %></a></li>
  <% end %>
</ul>
<form action="/new" method="get">
  <button type="submit">Add New Contact</button>
</form>