<h2>New Contact</h2>
<form action="/new" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Name...">
  <label>Tel:</label>
  <input type="tel" name="tel" placeholder="01234 567890">
  <label>Email Address:</label>
  <input type="email" name="email" placeholder="01234 567890">
  <h3>Postal Address</h3>
  <label>Address Line 1:</label>
  <input type="text" name="address_1" placeholder="5 Green Terrace">
  <label>Address Line 2:</label>
  <input type="text" name="address_2" placeholder="Long Lane">
  <label>City:</label>
  <input type="text" name="city" placeholder="London">
  <label>Region:</label>
  <input type="text" name="region" placeholder="Middlesex">
  <label>Postcode:</label>
  <input type="text" name="postcode" placeholder="L12 5AA">
  <label>Country:</label>
  <input type="text" name="country" placeholder="UK">
  <button type="submit">Create Contact</button>
</form>
